<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <link th:href="@{/css/style_add_product.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="menu">
        <div class="menu__list">

            <form method="get" th:action="@{/admin}">
                <input type="submit" value="Личный кабинет">
            </form>

            <form method="get" th:action="@{/admin/users}">
                <input type="submit" value="Пользователи">
            </form>

            <!--12.03  00:49:30 добавим кнопку Заказы-->
            <form method="get" th:action="@{/admin/orders}">
                <input type="submit" value="Заказы">
            </form>

            <form method="post" th:action="@{/logout}">
                <input class="logout" type="submit" value="Выйти из Личного кабинета">
            </form>

        </div>
    </nav>
</header>








<div class="cont1">





<h3>Добавление товара</h3>
<!--11.02  00:44:30 enctype="multipart/form-data"  -параметр для передачи файлов через форму-->
<!---->
<form method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите наименование товара:</label>
    <input type="text" th:field="*{title}" placeholder="Наименование" name="title" id="title">

<!--    11.02   01:32:40 Валидация-->
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

    <br>
    <label for="price">Введите цену товара:</label>
    <input type="number" th:field="*{price}" min="100" step="0.01" name="price" id="price">

    <!--    11.02   01:32:40 Валидация-->
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

    <br>
    <label for="seller">Введите продавца товара:</label>
    <input type="text" th:field="*{seller}" placeholder="Продавец" name="seller" id="seller">

    <!--    11.02   01:32:40 Валидация-->
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>

    <br>
    <label for="storage">Введите склад товара:</label>
    <input type="text" th:field="*{storage}" placeholder="Склад" name="storage" id="storage">

    <!--    11.02   01:32:40 Валидация-->
    <div style="color: red" th:if="${#fields.hasErrors('storage')}" th:errors="*{storage}"></div>
    <br>



<!--    12.01   00:21:40 добавим поле под категории-->
    <lable for="category">Выберите категорию товара</lable>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"> </option>
        </div>
    </select>



    <br>
    <label for="description">Введите описание товара:</label>
    <textarea th:field="*{description}" placeholder="Описание товара" name="description" id="description"></textarea>

    <!--    11.02   01:32:40 Валидация-->
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>



<!-- 11.02  00:45:30  элемент по работе с файлами фото   -->
    <p style="color: red">Вы можете добавить до 6 фотографий. Первое фото не может быть пустым.</p>
    <input type="file" name="file_one">
    <input type="file" name="file_two">
    <input type="file" name="file_three">
    <input type="file" name="file_four">
    <input type="file" name="file_five">
    <input type="file" name="file_six">
    <br> <br>

    <input type="submit" value="Добавить">
</form>

</div>
</body>
</html>