body{
    background-image: url('../imges/back.png');
    background-repeat: repeat;
    margin:8px;
}

.cont1{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffc0cb;
    padding:5px;
    border:2px solid red;
    border-top:none;
    box-shadow: 9px 9px;
}





a{
    text-decoration:none ;
    color: black;
}
a:visited{
    color: black;
}




nav{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffc0cb;
    padding:5px;
    border:2px solid red;
    border-bottom:1px solid black;
    box-shadow: 9px 9px;
}

.menu__list{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

.menu__list li{
    border: solid red;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    box-shadow: 4px 4px;
}

.menu__list li a{
    font-size: 29px;
    font-family: 'Yeseva One', cursive;
}

.menu__list li:hover{
    background-color: #eca0ad;
    box-shadow: 4px 4px red;
    border: solid;
}




.prod_info{
    max-width: 95%;
    margin: 15px;
    padding:5px;
    border:2px solid red;
    box-shadow: 9px 9px;
}


.prod_info p{
    font-weight: 700;
}

.prod_info span{
    font-weight: 400;
}




.images{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.images__image{
    max-width: 360px;
    margin: 18px;
    background-color: #ffc0cb;
    border:2px solid red;
    box-shadow: 9px 9px;
}

.images__image img{
    max-width: 100%;
    height:100%
}