body{
    background-image: url('../imges/back.png');
    background-repeat: repeat;
}

.cont1{
    max-width: 600px;
    /*height: 600px;*/
    margin: 100px auto;
    background-color: #ffc0cb;
    padding:5px;
    border:2px solid red;
    /*border-right:2px solid red;*/
    box-shadow: 9px 9px;
}



a{
    text-decoration:none ;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffc0cb;
    padding:5px;
    border:2px solid red;
    /*border-right:2px solid red;*/
    box-shadow: 9px 9px;
}

.menu__list{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
}

.menu__list li{
    border: solid;
    border-color: red;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    box-shadow: 4px 4px;
}

.menu__list li a{
    font-size: 29px;
    font-family: 'Yeseva One', cursive;
}

.menu__list li:hover{
    background-color: #eca0ad;
    box-shadow: 4px 4px red;
    border: solid;
}











.reg__inner{
    margin: 5px;
}

.reg__inner h3{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.reg__form{
    text-align: center;
    margin: 20px;
    padding:15px;
    border:2px solid red;
    box-shadow: 9px 9px;



}


label {
    font-size: 20px;
    font-weight: 700;
}


input[type="text"],[type="password"]{
    padding:10px;
    border:none;
    box-shadow: 5px 5px 15px 4px rgb(30 26 26);
    border-radius: 20px;
    margin: 5px;
}

input[type="text"],[type="password"]:focus-visible{
    outline:none;
}




input[type="submit"]{
    border: solid red;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    box-shadow: 4px 4px black;
    cursor: pointer;
    font-size: 25px;
    background-color: aqua;
}

input[type="submit"]:hover {
    box-shadow: 4px 4px red;
    border: solid;
}



.annotation{
    text-align:justify;
    margin: 15px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: gray;
}