<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link th:href="@{/css/style_login.css}" type="text/css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="menu">
        <ul class="menu__list">
            <li><a href="/product">Войти как незарегистрированный пользователь</a></li>
            <li><a href="/authentication/registration">Регистрация</a></li>
        </ul>
    </nav>
</header>

<div class="cont1">

<h3>Авторизация:</h3>
<!--непонятно почему метод и действие без th: ....-->
<form method="post" action="/process_login">
<!--9.2 01:27:00 добавим csrf token в форму аутентификации, в остальные формы Spring внедрит автоматически-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

<!--название полей  username и password обязательно, или spring Secutity их не сможет сравнить с данными из бд -->
    <label for="username">Введите логин</label>
    <input type="text" placeholder="логин..." name="username" id="username">
    <br>
    <label for="password">Введите пароль</label>
    <input type="password" placeholder="пароль..." name="password" id="password">
    <br>
    <input type="submit" value="Войти">
<!-- Если  к нам приходит объект ошибки в параметрах get-запроса (?error), то мы выводим этот блок красным цветом -->
    <div th:if="${param.error}" style="color:red">
        Неверный логин или пароль
    </div>
</form>




</div>
</body>
</html>


